<div class="footer">
    <p>Built and Designed by <a href="https://www.instagram.com/benedict_damian_tan">Benedict Damian Tan</a></p>
    <a href="https://github.com/Ben12002/learnbook">View this project's repository</a>
</div>