

<p><%= likeable.likers.length%> likes </p>

<% if likeable.likes.exists?(liker_id: current_user.id, likeable_type: likeable.class.name, likeable_id: likeable.id) %>
    <%= button_to like_url(Like.where(liker_id: current_user.id, likeable_type: likeable.class.name, likeable_id: likeable.id).first.id, :likeable_id => likeable.id, :likeable_type => likeable.class.name), {method: :delete} do %>
        <svg class="liked" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" />
        </svg>
    <% end %>
<% else %>
    <%= button_to likes_url(:likeable_id => likeable.id, :likeable_type => likeable.class.name), {method: :post} do %>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" />
        </svg>
    <% end %>
<% end %>

