<div class="login-suggestion">
    <p>Just want to take a look around? Use these credentials to log in!</p>
    <p><span>Username:</span> view</p>
    <p><span>Email:</span> view@mail.com</p>
    <p><span>Password:</span> 123456</p>
</div>