<div class="friends-page">
    <div class="section">
        <h1>Received Friend Requests:</h1>

        <ul class="received-friend-requests">
            <% @received_friend_requests.each do |received_friend_request| %>
                <li class="received-friend-request friend">
                    <%= render "friendships/received_friend_request", received_friend_request: received_friend_request %>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="section">
        <h1>Sent Friend Requests:</h1>

        <ul class="sent-friend-requests">
            <% @sent_friend_requests.each do |sent_friend_request| %>
                <li class="sent-friend-request friend">
                    <%= render "friendships/sent_friend_request", sent_friend_request: sent_friend_request %>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="section">
        <h1>Friends:</h1>

        <ul class="friends">
            <% @friends.each do |friend| %>
                <li class="friend">
                    <%= render "friendships/friend", friend: friend %>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="section">
        <h1>Discover Users:</h1>

        <ul class="discover-users">   
            <% @users.each do |user| %>
                <li class="discover-user friend">
                    <%= render "friendships/discover_user", user: user %>
                </li>
            <% end %>
        </ul>
    </div>
</div>