<!-- <%= link_to "New Post", new_post_path, class: "new-post" %> -->

<%= link_to "New Post", new_post_path, class: "new-post" %>

<ul>
    <% @posts.each do |post| %>
        <li class="post-thumbnail">
            <%= render "shared/post", :post => post %>
        </li>
    <% end %>
</ul>