<h1> Post#Index </h1>
<%= link_to "New Post", new_post_path %>

<ul>
    <% @posts.each do |post| %>
        <li>
            <%= render "shared/post", :post => post %>
        </li>
    <% end %>
</ul>