<%= render "shared/post", :post => @post %>

<%= render "shared/comment_form", :post => @post, :parent_id => @parent_id %>

<div class="comment-section">
    <% @post.top_level_comments.each do |comment|%>
        <%= render "shared/comment", { :comment => comment, :post => @post, :parent_id => @parent_id } %>
    <% end %>
</div>



