/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .post {
     border: solid 1px darkblue;
     padding: 5px;
     margin: 10px;
 }

 .comment {
     border: solid 1px gray;
     padding: 15px;
     margin: 5px;
     margin-left: 50px;
     width: max-content;
     padding-left: 60px;
     padding-right: 60px;
 }

 form {
     margin: 15px;
     display: flex;
     flex-direction: column;
     width: 450px;
     gap: 5px;
     border: solid 3px darkcyan;
     padding: 10px;
 }

 textarea {
    height: 150px;
 }

 input[type="submit"] {
     width: max-content;
     padding: 10px;
 }

 .content {
     font-size: 20px;
 }

 .comments, .likes {
     font-size: small;
     color: darkblue;
 }
