/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 font-size: 100%;
	 font: inherit;
	 vertical-align: baseline;
 }


/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
	 display: block;
 }

 body {
    line-height: 1;
 }

 .navbar {
    height: 50px;
    background-color: #27272a;
    display: flex;
    margin-bottom: 100px;
    color: #f1f5f9;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
 }

 .navbar > a {
    text-decoration: none;
    color: inherit;
 }

 .post {
    border: solid 1px darkblue;
    padding: 5px;
    margin: 10px;
 }


 .comment {
     border: solid 1px gray;
     padding: 15px;
     margin: 5px;
     margin-left: 50px;
     width: max-content;
     padding-left: 60px;
     padding-right: 60px;
 }

 form {
     margin: 15px;
     display: flex;
     flex-direction: column;
     width: 450px;
     gap: 5px;
     border: solid 3px darkcyan;
     padding: 10px;
 }

 textarea {
    height: 150px;
 }

 input[type="submit"] {
     width: max-content;
     padding: 10px;
 }

 .content {
     font-size: 20px;
 }

 .comments, .likes {
     font-size: small;
     color: darkblue;
 }

 