/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "./actiontext.css";
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 font-size: 100%;
	 font: inherit;
	 vertical-align: baseline;
 }


/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
	 display: block;
    font-weight: 100;
 }

 html {
    --main-background-color: #171d26;
    --main-font-family: 'Noto Sans', sans-serif;
    --main-font-color: white;
    --hover-color: #636363;
    font-size: 62.5%;
 }

 body {
    font-family: var(--main-font-family);
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    line-height: 1;
    font-size: 1.6rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
 }

 .main {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
}

 ul {
   list-style: none;
}

 a {
    text-decoration: none;
    color: inherit;
 }

 button, input, select, textarea, input[type="submit"] {
    font-family: inherit;
    font-size: 100%;
}

 button, input[type="submit"] {
    appearance: none;
    background: none;
    border: none;
    border: 0;
}

 .new-post {
    margin-top: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
   margin-bottom: 15px;
 }

 .new-post:hover {
    color: var(--hover-color);
    
 }

 .new-post svg {
    text-align: 5px;
 }

 .user-thumbnail {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .notice, .alert {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--main-font-color);
   padding: 25px;
   font-size: 2rem;
   font-weight: 100;
}

.notice {
   background-color: green;
}

.alert {
   background-color: red;
}

 
 





 
 

 

 