.navbar {
    --navbar-background-color: #10131a;
    --user-button-color: black;
    --drop-down-list-background-color: black;
    height: 70px;
    background-color: var(--navbar-background-color);
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
    font-weight: 100;
 }

.navbar .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.navbar .user-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--user-button-color);
    padding: 10px;
}

.navbar .user-button:hover {
    border: solid 1px var(--hover-color);
}

 .navbar .hidden {
    visibility: hidden;
}

.navbar .drop-down {
    position: relative;

}

.navbar .drop-down .list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    padding: 10px;
    background: rgba(0,0,0,0.6);
}

.navbar svg, .navbar p {
    color: var(--main-font-color);
}


.navbar .list div:hover, .navbar svg:hover {
    color: var(--hover-color)
}

.navbar .user-button img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.navbar h1 {
    background: -webkit-linear-gradient(0deg,rgb(208, 22, 224), rgb(76, 64, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}