.user-edit form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

.user-edit form div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.user-edit input[type="submit"] {
    color: var(--main-font-color);
    margin-bottom: 30px;
}

.user-edit-links {
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.user-edit-links button {
    color: var(--main-font-color);
}

.user-edit-links a:hover, .user-edit-links button:hover, .user-edit input[type="submit"]:hover {
    color: var(--hover-color);
}