.user-edit form {
    --user-form-bg-color: #2A313F;
    --user-form-text-color: white;

    background-color: var(--user-form-bg-color);
    color: var(--user-form-text-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

.user-edit form div {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
}

.user-edit input {
    background-color: var(--profile-form-bg-color);
    color: var(--profile-form-text-color);
    border: solid 1px #434c59;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0;
    font-weight: 100;
    appearance: none;
}

.user-edit input[type="submit"] {
    color: var(--main-font-color);
    margin-bottom: 30px;
    border: solid 1px #434c59;
    border-radius: 6px;
    padding: 10px 20px;
    width: max-content;
}

.profile-form input[type="submit"]:hover {
    border: solid 1px var(--hover-color);
}

.user-edit-links {
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.user-edit-links button {
    color: var(--main-font-color);
}

.user-edit-links a:hover, .user-edit-links button:hover, .user-edit input[type="submit"]:hover {
    color: var(--hover-color);
}

.user-edit em, .user-edit i {
    font-size: 1.3rem;
}