.user-page-top {
    --avatar-dimensions: 150px;
    --avatar-left-offset: 25vw;
    --avatar-top-offset: -75px;
    width: 100%;
}
.user-page-top .profile-banner-container {
    height: 300px;
}

.user-page-top .profile-banner-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.user-page-top .avatar-container {
    position: relative;
    height: 75px;
}

.user-page-top .avatar-container img {
    height: var(--avatar-dimensions);
    width: var(--avatar-dimensions);
    display: block;
    object-fit: cover;
    position: absolute;
    top: var(--avatar-top-offset);
    left:var(--avatar-left-offset);
}

.user-page-top .avatar-container .beside-avatar {
    position: absolute;
    left: calc(var(--avatar-left-offset) + var(--avatar-dimensions));
    margin: 20px;
    font-size: 3rem;
    display: flex;
    gap: 15px;
}

.user-page-mid {
    --tabs-bar-background-color: #171d26;
    display: flex;
    margin: 30px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.user-page-mid .tabs-bar {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--tabs-bar-background-color);
    padding: 25px;
    
    width: fit-content;
}


